body{
  background-image: url("151_pokemon_wallpaper_by_drums107_ddumeg9-fullview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 335px;
  /* border: solid 5px gray;
  border-radius: 15px; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* background-image: url('wave.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -167.5px;
  margin-left: -250px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card, .flip-card-back{
  /* justify-content: center; */
  border: solid 5px gray;
  /* width: 500px;
  height: 335px; */
  border-radius: 15px;
  background-image: url('wave.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -167.5px;
  margin-left: -250px; */
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-back {
  /* background-color: dodgerblue;
  color: white; */
  transform: rotateY(180deg);
}

.flip-card-back img {
  border: solid 5px gray;
  border-radius: 25px;
  margin-top: 10px;
  background-image: url('white-colored-background-free-vector.jpg');
  background-position: center;
  background-size: cover;
  background-color: white;
  height: 100px ;
  width: 100px ;
  margin: 5px;
  margin-bottom: 125px;
}

.flip-card-back table {
  text-align: center;
  width: 90%;
  border: 1px solid white;
  margin: 24px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.flip-card-back th {
  border: 1px solid white;
}

.flip-card-back td {
  border: 1px solid white;
}

.card h3{
  text-transform: capitalize;
  margin-top:25px;
  margin-bottom: 20px;
  font-size: 50px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.card img {
  background-image: url('white-colored-background-free-vector.jpg');
  background-position: center;
  background-size: cover;
  border: solid 5px gray;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card .pokeData{
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  height: 17%;
}

.pokeData .type{
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.type{
  display: inline-block;
  padding: 0px;
  width: 100px;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border: 5px solid gray;
  border-radius: 15px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.fire{
  background-color: orangered;
}

.grass{
  background-color: lawngreen;
}

.poison{
  background-color: purple;
}

.water{
  background-color: blue;
}

.normal{
  background-color: tan;
}

.flying{
  background-image: linear-gradient(dodgerblue 50%, lightgrey 50%);
}

.bug{
  background-color: green;
}

.fairy{
  background-color: hotpink;
}

.electric{
  background-color: yellow;  
}

.ground{
  background-image: linear-gradient(gold 50%, goldenrod 50%);
}

.psychic{
  background-color: deeppink;
}

.fighting{
  background-color: orange;
}


.rock{
  background-color: slategray;
}

.ice{
  background-color: aqua;
}

.ghost{
  background-color: mediumpurple;
}

.dragon{
  background-image: linear-gradient(deepskyblue 50%, crimson 50%);
}

.steel{
  background-color: steelblue;
}

.dark{
  background-color: darkslategray;
}