body{
  background-image: url("151_pokemon_wallpaper_by_drums107_ddumeg9-fullview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card{
  justify-content: center;
  border: solid 5px gray;
  width: 500px;
  height: 335px;
  border-radius: 15px;
  background-image: url('wave.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -167.5px;
  margin-left: -250px;
}

.card h3{
  text-transform: capitalize;
  margin-top:25px;
  margin-bottom: 20px;
  font-size: 50px;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.card img {
  background-image: url('white-colored-background-free-vector.jpg');
  background-position: center;
  background-size: cover;
  border: solid 5px gray;
  border-radius: 60px;
  margin-bottom: 55px;
}

.card .pokeData{
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  height: 100%;
}

.pokeData .type{
  display: inline-block;
  padding: 10px;
  margin: 5px;
}

.type{
  display: inline-block;
  padding: 0px;
  width: 100px;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border: 5px solid gray;
  border-radius: 15px;
}

.fire{
  background-color: orangered;
}

.grass{
  background-color: lawngreen;
}

.poison{
  background-color: purple;
}

.water{
  background-color: blue;
}

.normal{
  background-color: tan;
}

.flying{
  background-image: linear-gradient(dodgerblue 50%, lightgrey 50%);
}

.bug{
  background-color: green;
}

.fairy{
  background-color: hotpink;
}

.electric{
  background-color: yellow;  
}

.ground{
  background-image: linear-gradient(gold 50%, goldenrod 50%);
}

.psychic{
  background-color: deeppink;
}

.fighting{
  background-color: orange;
}


.rock{
  background-color: slategray;
}

.ice{
  background-color: aqua;
}

.ghost{
  background-color: mediumpurple;
}

.dragon{
  background-image: linear-gradient(deepskyblue 50%, crimson 50%);
}

.steel{
  background-color: steelblue;
}

.dark{
  background-color: darkslategray;
}