.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1, h1{
  display: inline-block;
  margin: 20px 200px;
  color: white;
  background-image: url(shakingpb.gif);
  background-position:center;
  background-size: cover;
  background-color: red;
  padding: 20px 100px;
  border: solid 5px black;
  border-radius: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

main{
  /* display: flex;
  justify-content: space-around;
  align-content: center; */
}
aside{
  justify-self: left;
  float: left;
  left: 0%;
  height: 900px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.cardContainer{
  display: flex;
  justify-content: center;
}
.card{
  position: relative;
  border: solid 2px black;
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: grey;
}

.card h3{
  text-transform: capitalize;
}
.card img{
  display: inline-block;
}

.card ul{
  list-style-type: none;
  display: block;
}

.type{
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 100px;
  color: white;
  border: 5px solid black;
  border-radius: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fire{
  background-color: orangered;
}

.grass{
  background-color: lawngreen;
}

.poison{
  background-color: purple;
}

.water{
  background-color: blue;
}

.normal{
  background-color: tan;
}

.flying{
  background-image: linear-gradient(170deg, dodgerblue 50%, lightgrey 50%);
}

.bug{
  background-color: green;
}

.fairy{
  background-color: hotpink;
}

.electric{
  background-color: yellow;  
}

.ground{
  background-image: linear-gradient(170deg, gold 50%, goldenrod 50%);
}

.psychic{
  background-color: deeppink;
}

.fighting{
  background-color: orange;
}

.rock{
  background-color: slategray;
}

.ice{
  background-color: aqua;
}

.ghost{
  background-color: mediumpurple;
}

.dragon{
  background-image: linear-gradient(170deg, deepskyblue 50%, crimson 50%);
}

.steel{
  background-color: steelblue;
}

.dark{
  background-color: darkslategray;
}